/* Application Menu CSS */
.debug-digger-app_main-menu-items {
    padding: 1px;
}

ul.debug-digger-app_menu {
    display: flex;
    gap: 30px;
    padding: 0 20px;
    justify-content: center;
    transition: all 0.7s ease-in-out;
}

.debug-digger-app_menu_item:active{
    scale: 0.9;
}

.debug-digger-app_menu_item a {
    text-decoration: none;
    color: #3b3b3b;
    font-size: 0.89rem;
    font-weight: 400;
}

li.debug-digger-app_menu_item a{
    background: #fff;
    padding: 10px 15px;
    border-radius: 5px;
}

a.router-link-active.router-link-exact-active.debug-digger-app_menu_primary {
    background: #003d5e;
    color: #cff1ff;
}

/* Application Body CSS */
.debug-digger_app_body {
    padding: 20px;
}

/*Application layout card*/
.dd_card {
    background: #fff;
    padding: 35px;
    border-radius: 5px;
    margin-bottom: 18px;
}
span.dd_info {
    background: #132025;
    color: #80d192;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    display: block;
    word-wrap: break-word;
}

.dd_card_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

/* Table CSS */
.dd_log_table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.dd_log_table thead tr {
    background-color: #73a5ff;
    color: #ffffff;
    text-align: left;
}
.dd_log_table th,
.dd_log_table td {
    padding: 12px 15px;
}

.dd_log_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.dd_log_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.dd_log_table tbody tr:last-of-type {
    border-bottom: 2px solid #73a5ff;
}
.dd_log_type_Warning{
    background: #ff8c00;
    font-weight: bold;
    color: #fff;
}

.dd_log_table_actions {
    display: flex;
    flex-direction: row-reverse;
    gap: 12px;
}

.dd_log_actions {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dd_log_actions button.dd_button {
    margin: 5px;
    background: transparent;
    border: none;
}




/* Some Common CSS */
a:focus {
    box-shadow: none;
    outline: none;
}

#wpcontent{
    padding-left: 0;
}